:root {
  /* --mainBackground: rgb(99, 97, 112); */
  --mainBackground: white;
}
.todayDiv {
  text-align: center;
  margin: 1rem auto;
  background: var(--mainBackground);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: grid;
  max-width: 80%;
  color: black;
  box-shadow: var(--shadow);
}
.detailsDiv {
  text-align: center;
  margin: 1rem auto;
  background: var(--mainBackground);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: grid;
  max-width: 80%;
  color: black;
  box-shadow: var(--shadow);
}

.middleDiv {
  display: inline-flex;
  font-size: xx-large;
  font-weight: 600;
  color: rgb(134, 133, 239);
  margin: auto;
}

.details {
  display: inline-flex;
  font-size: 2rem;
  text-align: center;
}
/* Card Specific CSS */

.card {
  place-content: center;
  min-width: 100px;
  border-right: 1px grey solid;
}

.row {
  display: inline-flex;
  justify-content: space-between;
  font-size: 0.8rem;
  min-width: 100%;
}

.flex {
  display: flex;
}



@media (min-width: 576px) {
  .todayDiv{
	box-shadow: none;
}
.detailsDiv{
  box-shadow: none;
}
.row{
    min-width: 30ch;
}
}