:root {
  --mainBackground: rgb(99, 97, 112);
}
.todayDiv {
  text-align: center;
  margin: 1rem auto;
  background-color: var(--mainBackground);
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: grid;
}

.todayDiv p {
  display: inline-flex;
  font-size: 2rem;
  text-align: center;
}

.middle {
  display: inline-flex;
}

/* Card Specific CSS */

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

.card {
  place-content: center;
  margin: 0.5rem;
  border-radius: 1rem;
  min-width: 10ch;
  background-color: var(--mainBackground);
  color: white;
}
