#root {
  display: grid;
  place-items: center;
  text-align: center;
  min-height: 100vh;
}

body {
  background-color: rgb(0, 86, 97);
  color: white;
}

/* ////////////////////////////////////////////// */

img {
  width: fit-content;
  align-items: center;
  margin: auto;
}
.card-container{
  margin: 1rem auto;
  display: flex;
  padding: 1rem;
  overflow: auto;
  max-width: 80%;
  white-space: nowrap;
  text-align: center;
}